---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
import ScheduleCard from "../components/ScheduleCard.astro";
import Google from "../assets/speakers/google_logo.png";
import Lero from "../assets/sponsors/lero_no_tagline.png";
import Ruairi from "../assets/speakers/dr_ruairi_o_reilly.jpg";
import Jim from "../assets/speakers/dr_jim_buckley.jpg";
import Anila from "../assets/speakers/dr_anila_mjeda.jpg";
import Tabea from "../assets/speakers/dr_tabea_dewille.jpg";
import Anik from "../assets/speakers/anik_sarker.jpeg";
import Xlogo from "../assets/socs/tempX.png";

const schedule = [
  {
    title: "Registration",
    startTime: "--:--",
    endTime: "--:--",
    location: "Kemmy Business School",
    description:
      "Register here for your badge and merch. Breakfast will be provided!",
  },
  {
    title: "Opening Ceremony",
    startTime: "--:--",
    endTime: "--:--",
  },
  {
    title: "title",
    startTime: "--:--",
    endTime: "--:--",
    imageSrc: Xlogo,
    imageClass: "pfp",
  },
  {
    title: "title",
    startTime: "--:--",
    endTime: "--:--",
    speaker: "Anik Sarker",
    imageSrc: Xlogo,
    imageClass: "pfp",
    imageHref: "/speakers/#anik",
  },
  {
    title: "title",
    startTime: "--:--",
    endTime: "--:--",
    speaker: "Dr. Ruairí O'Reilly",
    imageSrc: Xlogo,
    imageClass: "pfp",
    description:
      "Detect and measure biases in AI healthcare models, focus on intersectional fairness.",
    imageHref: "/speakers/#ruairi",
  },
  {
    title: "title",
    startTime: "--:--",
    endTime: "--:--",
    speaker: "-----------",
    imageSrc: Xlogo,
    imageClass: "pfp",
    imageHref: "/speakers/#jim",
  },
  {
    title: "title",
    startTime: "--:--",
    endTime: "--:--",
    description: "Lunch is included as part of your ticket price.",
    location: "KBG-",
  },
  {
    title: "title",
    startTime: "--:--",
    endTime: "--:--",
    speaker: "-----------",
    imageSrc: Xlogo,
    imageClass: "pfp",
    imageHref: "/speakers/#anila",
  },
  {
    title: "title",
    startTime: "--:--",
    endTime: "--:--",
    speaker: "-----------",
    imageSrc: Xlogo,
    imageClass: "pfp",
    imageHref: "/speakers/#tabea",
  },
  {
    title: "Lightning Talks",
    startTime: "--:--",
    endTime: "--:--",
    imageSrc: Xlogo,
    imageClass: "pfp",
    speaker: "Attendees",
  },
  {
    title: "Closing Ceremony",
    startTime: "--:--",
    endTime: "--:--",
  },
];
---

<Layout>
  <main>
    <h1>University of Limerick, --<sup>th</sup> of April 2026</h1>

    <h3>
      SIGN UP FOR LIGHTNING TALKS <a href="https://forms.gle/9DeYxLmFcWiiovB27"
        >HERE</a
      >
    </h3>

    <h3>
      Download event schedule <a href="/SpeakerTimetable.png">HERE</a>
    </h3>

    {
      schedule.map((event) => (
        <>
          <ScheduleCard {...event} />
          <br />
        </>
      ))
    }
  </main>
</Layout>

<style>
  h3 {
    text-align: center;
  }
</style>
